.title {
  font-weight: bold;
  font-size: 1.5em;
}

.container {
  padding: 1em;
  margin: 1em;
  background-color: slateblue;
  color: white;
}

#loginForm,
#registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputError {
  font-size: 0.75em;
  color: red;
}

#loginError {
  color: red;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  background-color: white;
  padding: 0.5em 1em;
}

input[type="text"]:read-only,
input[type="email"]:read-only,
input[type="password"]:read-only {
  background-color: grey;
}

button {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ==================== */
/* game.html */
/* ==================== */

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1em;
}

.card {
  padding: 0.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
}

#acePopup {
  background-color: red;
  border: 1px solid green;
  border-radius: 1em;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ==================== */
/* profile.html */
/* ==================== */

#gameHistoryContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 0.125em;
}

.gameContainer * {
  border: 1px solid blue;
  padding: 0.5em;
  background-color: papayawhip;
  color: black;
}

.eloChangeContainer.positive {
  color: green;
}

.eloChangeContainer.negative {
  color: red;
}
