.container {
  padding: 1em;
  margin: 1em;
  background-color: slateblue;
  color: white;
}

#loginForm,
#registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputError {
  font-size: 0.75em;
  color: red;
}

#loginError {
  color: red;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  background-color: white;
  padding: 0.5em 1em;
}

input[type="text"]:read-only,
input[type="email"]:read-only,
input[type="password"]:read-only {
  background-color: grey;
}

button {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ==================== */
/* game.html */
/* ==================== */

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1em;
}

.card {
  padding: 0.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
}
