#loadingCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;

  display: grid;
  place-content: center;
  font-size: 10em;

  color: var(--brand-green);
  background-color: var(--bg-page);

  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#loadingCover.hidden {
  opacity: 0;
  pointer-events: none;
}

#baseContainer {
  height: 100dvh;
  background-color: red;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#tableContainer,
#mySeat {
  width: 65em;
  max-width: 90%;
  margin: 0 auto;
  min-height: 0;
}

#tableContainer {
  background-color: blue;
  flex: 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

#topButtons {
  background-color: cyan;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#openChat,
#quitLobby {
  font-size: 1.2em;
  padding: 0.5em;
  aspect-ratio: 1/1;
  height: 100%;
  display: grid;
  place-content: center;
  border-radius: 0.5em;
}

#quitLobby:hover {
  color: green;
}

#table {
  height: 80%;
  aspect-ratio: 1/1;
  background-color: yellow;

  position: relative;
  border-radius: 50%;

  border: 0.25em solid var(--bg-dark);
}

#table::before {
  content: "";
  position: absolute;

  height: 80%;
  width: 80%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-mask-image: url("../media/logo.svg");
  mask-image: url("../media/logo.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-color: var(--bg-page);
  filter: brightness(1.1);
}

#table .tableSeat {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 110%;
  height: 0;

  transform: translate(-50%, -50%) rotate(var(--angle));
  transform-origin: center center;

  z-index: 1;

  display: flex;
  align-items: center;

  font-size: 0.8em;
}

#table .tableSeat .opponentInfo {
  position: absolute;
  left: 0%;
  top: 50%;
  right: auto;

  width: max-content;
  white-space: nowrap;

  transform: translate(-50%, -50%) rotate(calc(-1 * var(--angle)));
}

.opponentInfo {
  background-color: blueviolet;

  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 0.25em;

  height: fit-content;
}

.opponentInfo.disconnected {
  filter: saturate(0);
}

.currentPlayer {
  border: 2px solid var(--brand-green) !important;
}

.opponentInfo .username {
  background-color: palevioletred;
  text-align: center;
}

.opponentInfo .stats {
  display: flex;
  gap: 0.5em;
}

.opponentInfo .lives,
.opponentInfo .bids {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.opponentInfo .lives {
  background-color: yellowgreen;
}

.opponentInfo .bids {
  background-color: magenta;
}

.bidsIcon {
  content: "";
  height: 0.75lh;
  aspect-ratio: 1/1.6;
  background-color: blue;

  border-radius: 0.125em;
}

#mySeat {
  background-color: green;

  flex: 1;
  display: flex;

  padding: 1em;
}

#myCards {
  background-color: violet;

  display: flex;
  align-items: center;
  gap: 0.5em;

  min-height: 0;

  overflow-x: auto;
  max-width: 100%;

  padding-top: 1em;
}

#myCards .card {
  height: 100%;
  width: auto;
  object-fit: contain;

  transition: all 0.2s ease-in-out;
}

#myCards .card:hover {
  transform: translateY(-1em);
  box-shadow: var(--shadow-large);
  cursor: pointer;
}

/* ============================ */
/* General properties for cards */
/* ============================ */

.card {
  border-radius: 5%;
  box-shadow: var(--shadow);
}

.playedCard {
  height: 15vh;
  transform: rotate(90deg);
}

.highestPlay .playedCard {
  border: 2px solid red;
}

.opponentSeat .playedCard {
  height: 10vh;
  margin-left: 5vw;
}

#bidPopup {
  background-color: var(--bg-card);

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* Properties for mobile */
@media (max-width: 768px) {
  #tableContainer,
  #mySeat {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  #table {
    height: 70%;
  }

  .opponentSeat .playedCard {
    margin-left: 10vw;
  }

  #mySeat {
    padding-top: 0;
    background-color: green;
    flex: 2.5;
    flex-direction: column;
    gap: 1em;
  }

  #myCards {
    flex: 4;
    width: 100%;
    justify-content: center;
  }

  #myStats {
    flex: 1;
    background-color: red;
    display: flex;
    gap: 1em;
  }

  #myStats #myUsername,
  #myStats #myLives,
  #myStats #myBids {
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: 1px solid teal;
    font-size: 1.5em;
  }

  #myStats #myUsername {
    flex: 1;
    text-overflow: ellipsis;
    background-color: yellow;
  }

  #bottom {
    flex: 1.5;
    min-height: 0;
  }

  #bidsContainer {
    --gap: 0.5rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    gap: var(--gap);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #bidsContainer .bidButton {
    flex: 1 0 calc(25% - (var(--gap) * 0.75));
    height: 100%;
    box-sizing: border-box;
    margin: 0;

    font-size: 1.5em;
    border-radius: 0.5em;
  }

  #bottomButton {
    width: 100%;
    height: 100%;

    font-size: 1.5em;
    border-radius: 0.25em;
  }

  .bidButton.disabled,
  #bottomButton.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  #bottomButtons .dangerButton:hover {
    color: green;
  }
}
