* {
  color: var(--text-primary);
}

ul {
  list-style: inherit;
}

.hero {
  text-align: center;
  padding: 3.75em 1.25em;
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border-color);
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1em;
  color: var(--text-heading);
}

.hero p {
  font-size: 1.2rem;
  max-width: 42em;
  margin: 0 auto 1.875em auto;
}

.container {
  width: 65em;
  max-width: 90%;
  min-height: 100dvh;

  padding: 1em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ruleCard {
  background: var(--bg-card);
  border-radius: 0.5em;
  padding: 1.875em;
  box-shadow: var(--card-shadow);
}

.ruleCard h2 {
  margin-bottom: 1.25em;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.ruleCard ul {
  margin-left: 1.25em;
}

.ruleCard li:not(:last-child) {
  margin-bottom: 0.625em;
}

#cardValue {
  border-collapse: initial;
  width: 100%;
  margin-top: 1em;

  border: 1px solid var(--border-inactive);
  border-radius: 0.5em;
  overflow: hidden;
}

.highlightBox {
  background-color: #3b4335;
  border-left: 5px solid var(--brand-green);
  padding: 0.9375em 1.25em;
  margin: 1.25em 0;
  border-radius: 0 0.375em 0.375em 0;
  color: #e2e2e2;
}

.warningBox {
  background-color: #422929;
  border-left: 5px solid var(--accent-red);
  padding: 0.9375em 1.25em;
  margin: 1.25em 0;
  border-radius: 0 0.375em 0.375em 0;
  color: #e2e2e2;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0.5em;

    gap: 0.5em;
  }
}
