body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

#backdrop {
  display: none;
}

#navbar {
  background-color: var(--bg-page);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  flex-shrink: 0;
}

#baseContainer {
  flex-grow: 1;

  min-height: 0;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  padding: 0 1em 1em 1em;
}

#leftColumn,
#rightColumn {
  background-color: var(--bg-card);
  box-shadow: var(--card-shadow);
  border-radius: 0.25em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.title {
  font-size: 1.5em;
  color: var(--text-primary);
  font-weight: bold;
}

/* ============== */
/* Filter lobbies */
/* ============== */

#filterLobbies {
  border-bottom: 1px solid var(--divider-line);
  flex-grow: 1;
}

/* ==================== */
/* Create lobby styling */
/* ==================== */

#createLobbyContainer,
#createLobbyInputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#createLobbyContainer .title {
  margin-top: 0.5em;
}

#createLobby {
  padding: 0.75em;
  font-weight: bolder;
  font-size: 1.25em;
  border-radius: 0.5em;
}

#showPassword {
  width: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#showPassword:hover .icon {
  color: var(--icon-active);
}

/* =============== */
/* Lobbies section */
/* =============== */

#rightColumn .primaryButton {
  display: none;
}

#lobbiesContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

#lobbiesContainer .title {
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

#filterLobbiesPopupButton {
  display: none;
}

/* =========== */
/* All lobbies */
/* =========== */

#lobbiesListContainer {
  border: 1px solid var(--divider-line);
  border-radius: 0.5em;
  flex-grow: 1;
  width: 100%;
  min-height: 0;
  overflow: auto;
}

#lobbiesList {
  width: 100%;
}

#lobbies {
  overflow-y: auto;
}

#filterLobbyPopupButton {
  display: none;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  #backdrop.shown {
    display: initial;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #backdrop.shown .primaryButton {
    display: none;
  }

  #baseContainer {
    display: initial;
  }

  #leftColumn {
    display: none;
  }

  #leftColumn.shown {
    width: 70%;
    max-height: 85dvh;

    padding: 2em;
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
  }

  #leftColumn .hidden {
    display: none;
  }

  #createLobbyContainer .title {
    margin-top: 0;
  }

  #rightColumn {
    padding: 0;
    height: 100%;
  }

  #lobbiesContainer .title {
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.7em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--divider-line);
  }

  #lobbiesListContainer {
    border: none;
    border-radius: 0;
  }

  #lobbiesList .mobileHidden {
    display: none;
  }

  #lobbies {
    overflow-y: scroll;
  }

  #lobbies tr {
    cursor: pointer;
  }

  #createLobbyPopupButton {
    margin: 0.65em;
  }

  #filterLobbiesPopupButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5em;
    aspect-ratio: 1 / 1;

    border-radius: 0.25em;
  }

  #filterLobbiesPopupButton * {
    font-size: 0.75em;
  }

  #rightColumn .primaryButton {
    display: initial;
    padding: 0.75em;
    font-weight: bolder;
    font-size: 1.25em;
    border-radius: 0.5em;
  }
}
