#baseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  min-height: 100dvh;
}

#loginTitle,
#registerTitle {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-primary);
  padding-bottom: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  padding-right: 0.3em;
}

#loginTitle img,
#registerTitle img {
  height: 1lh;
}

#loginContainer,
#registerLink,
#registerContainer,
#loginLink {
  width: min(24em, 50%);
  background-color: var(--bg-card);
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
}

#loginContainer,
#registerContainer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2em;
}

#loginForm,
#registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#showPassword,
#showPasswordRepeat {
  width: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#showPassword:hover .icon,
#showPasswordRepeat:hover .icon {
  color: var(--icon-active);
}

#loginButton,
#registerButton {
  padding: 0.75em;
  color: var(--text-primary);
  font-weight: bolder;
  font-size: 1.25em;
  border-radius: 0.5em;
}

#registerLink,
#loginLink {
  background-color: var(--bg-dark);
  color: var(--text-link);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  padding: 0.5em;
  transition: color ease-in-out 100ms;
}

#registerLink:hover,
#loginLink:hover {
  color: var(--text-link-hover);
}

/* Properties for mobile */
@media (max-width: 768px) {
  #loginContainer,
  #registerLink,
  #registerContainer,
  #loginLink {
    width: 90%;
  }

  #loginContainer,
  #registerContainer {
    padding: 1.25em;
  }
}
